{
    "parser": "babel-eslint",
    "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
},
"extends": ["airbnb", "prettier"],
"env": {
    "browser": true,
    "jest": true
},
"rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "no-return-assign": [
      "off"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "no-console": [
      "warn"
    ], // Remove this during final code cleanup
    "react/jsx-one-expression-per-line": [
      "off"
    ],
    "no-nested-ternary": [
      "off"
    ],
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ], // only allows for for loops
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
